    {% include 'base.html.twig' %}
    <div class='title'>Contact Me</div>
      <div class='about-description'>{{ medescription }}
        <a href="https://www.linkedin.com/in/databae"><img class="contact-img1" src="/images/linkedin.png"></img></a>
        <a href="https://github.com/ElysiaAvery"><img class="contact-img2" src="/images/github-logo.png"></img></a>
        <a href="mailto:elysia.avery@gmail.com?Subject=Hello!" target="_top"><img class="contact-img3" src="/images/gmail.png"></img></a>
        <a href="tel:9712840378"><img class="contact-img4" src="/images/smartphone.png"></img></a>
      </div>
    </div>
  </body>
</html>
