{% include 'base.html.twig' %}
<div class='title'>Elysia Avery Nason</div>
<div class='about-description'>{{ medescription }}
  <img id="profile-pic" src="/images/elysia-pic.jpeg"></img>
</div>
</div>
</body>
</html>
